extends layout
block content
    doctype html

    .main
      script.
        var bg = document.querySelector(".main");
        bg.style = 'background: url("/images/#{games[0].Photo_URL}"); background-repeat: no-repeat; background-size: cover;';
      .banner
        h1 Witaj w mojej bibliotece
      .container  
        table.gameDetailsTable
            tr

              th.gameTableHeader(style = "font-size: 3rem")
                | Nazwa
              th.gameTableHeader(style = "font-size: 3rem")
                | Developer
              th.gameTableHeader(style = "font-size: 3rem")
                | Gatunek
              th.gameTableHeader(style = "font-size: 3rem")
                | Data wydania
            tr
                td.gameTableItem(style = "font-size: 3rem")= games[0].Name
                td.gameTableItem(style = "font-size: 3rem")= games[0].Dev
                td.gameTableItem(style = "font-size: 3rem")= games[0].Genre
                td.gameTableItem(style = "font-size: 3rem")
                    script.
                        var badStringDate = "#{games[0].Release_Date}";
                        var date = new Date(badStringDate);
                        console.log(date);
                        var day = date.getDate();
                        var month = date.getMonth() + 1;
                        var year = date.getFullYear();
                        var niceDate = day.toString().padStart(2, '0') + "/" + month.toString().padStart(2, '0') + "/" +year;
                        document.write(niceDate);
            tr
                th.gameTableHeader(style = "font-size: 3rem" colspan="5")= "Opis"
            tr
                td.gameTableItem(colspan="5" style="text-align: justify; font-size: 2rem;")= games[0].Description
      .footer
        p Stworzone przez Jakub Chabrowski, Dawid Wo&zacute;niak &copy;