extends layout

block content
    doctype html
    .main
      .banner
        h1 Witaj w mojej bibliotece
      .container
        div
            label(for = "name") Nazwa
            input.nameFilter(type="text" name="name")
            label(for = "dev") Developer
            select.devFilter(name = 'dev')
                option(value= "")
                each game in games
                    option(value= game.Dev)= game.Dev
            label(for = "genre") Rodzaj                    
            select.genreFilter(name = 'genre')
                option(value= "")
                each game in games
                    option(value= game.Genre)= game.Genre

        
        
        table.gameTable(onload= "createGamesArr()")
            tr
              th.gameTableHeader
                | Obraz
              th.gameTableHeader
                | Nazwa
              th.gameTableHeader
                | Developer
              th.gameTableHeader
                | Gatunek
              each game in games
                tr
                    td.gameTableItem
                        img.gameImg(src= "/images/" + game.Photo_URL)
                    td.gameTableItem= game.Name
                    td.gameTableItem= game.Dev
                    td.gameTableItem= game.Genre
                        
        script.
            const devFilter = document.querySelector(".devFilter");
            const genreFilter = document.querySelector(".genreFilter");
            const nameFilter = document.querySelector(".nameFilter");
            const gamesArr = document.querySelector(".gameTable").rows;


            function filter() 
            {
                let gameTable = document.querySelector(".gameTable");
                console.log(nameFilter.value);
                console.log(devFilter.value);
                console.log(genreFilter.value);
                console.log(gameTable.rows);
                    
                newGameTable = "";
                for(let i = 0; i < gamesArr.length; i++) {
                    img = gamesArr[i].cells[0].innerHTML;
                    name = gamesArr[i].cells[1].innerHTML;
                    dev = gamesArr[i].cells[2].innerHTML;
                    genre = gamesArr[i].cells[3].innerHTML;

                    if(name == "Nazwa" || ( name.toLowerCase().includes(nameFilter.value.toLowerCase()) && dev.toLowerCase().includes(devFilter.value.toLowerCase()) && genre.toLowerCase().includes(genreFilter.value.toLowerCase()) )) {
                        if(name == "Nazwa")
                            newGameTable += '<tr><th class="gameTableHeader">' + img + '</th><th class="gameTableHeader">' + name + '</th><th class="gameTableHeader">' + dev + '</th><th class="gameTableHeader">' + genre + '</th></tr>' ;
                        else
                            newGameTable += '<tr><td class="gameTableItem">' + img + '</td><td class="gameTableItem">' + name + '</td><td class="gameTableItem">' + dev + '</td><td class="gameTableItem">' + genre + '</td></tr>' ;
                        
                    }
                    else {
                        newGameTable += '<tr style="display: none;"><td>' + img + "</td><td>" + name + "</td><td>" + dev + "</td><td>" + genre + "</td></tr>" ;
                    }

                            
                }
                console.log(gameTable.rows)

                gameTable.innerHTML = newGameTable;

            }

            devFilter.addEventListener("change", filter);
            genreFilter.addEventListener("change", filter);
            nameFilter.addEventListener("change", filter);      
            
      .footer
        p Created by Jakub Chabrowski, Dawid Wo&zacute;niak &copy;

